@import "tailwindcss";
@import "tw-animate-css";

:root {
  --p-color-bg-surface: #ece9f1 !important;
  --p-color-bg: #faf6ff !important;
  --p-color-bg-surface-selected: #ece9f1;
  --p-color-bg-fill-brand: #c2aed9 !important;
  --p-color-bg-fill-brand-hover: #d4c6dc !important;
  --p-color-bg-fill-brand-active: #d4c6dc !important;
}

.dark:root {
  --p-color-bg-surface: #150e16 !important;
  --p-color-bg: #0c080c !important;
  --p-color-bg-surface-selected: #150e16;
  --p-color-bg-fill-brand: #512251 !important;
  --p-color-bg-fill-brand-hover: #773277 !important;
  --p-color-bg-fill-brand-active: #773277 !important;
}

@custom-variant dark (&:is(.dark *));

.Polaris-TopBar {
  background-color: var(--p-color-bg-surface) !important;
}

.Polaris-TopBar__SecondaryMenu {
  display: flex;
  margin-right: 1rem;
}

.dark .Polaris-Navigation__ItemInnerWrapper:hover {
  background-color: var(--p-color-bg-surface-hover) !important;
}

.dark .Polaris-Navigation__ItemInnerWrapper--selected {
  background-color: var(--p-color-bg-surface-selected) !important;
}

.dark .Polaris-ResourceList__LoadingOverlay {
  background-color: rgba(0, 0, 0, 0.25);
}

.dark :is(
  .Polaris-Tag,

) {
  background-color: var(--p-color-bg-inverse);
}

.dark :is( 
  .Polaris-TextField__Backdrop, 
  .Polaris-Select__Backdrop, 
  .Polaris-Select__Input,
  .Polaris-Pagination--table .Polaris-Box,
) {
  background-color: var(--p-color-bg-surface-inverse) !important;
}

.dark .Polaris-Pagination.Polaris-Pagination--table button {
  background-color: var(--p-color-bg-surface-secondary-active);
}

.dark .Polaris-Pagination.Polaris-Pagination--table button.Polaris-Button--disabled {
  background-color: var(--p-color-bg-surface-secondary-disabled);
}

.dark :is(
  .Polaris-Pagination.Polaris-Pagination--table button:hover, 
  .Polaris-ResourceItem--selected:hover, 
  .Polaris-IndexTable__TableHeading
  ) {
  background-color: var(--p-color-bg-surface-secondary-hover);
}

.dark .Polaris-DropZone {
  background-color: var(--p-color-bg-surface) !important;
}

.dark .Polaris-IndexTable__LoadingPanelRow {
  background-color: var(--p-color-bg-surface) !important;
}
.dark .Polaris-Listbox-TextOption.Polaris-Listbox-TextOption--selected {
  background-color: var(--p-color-bg-inverse) !important;
}

.dark [data-focused] .Polaris-Listbox-TextOption {
  background-color: var(--p-color-bg-inverse) !important;
}

.Polaris-Button--variantPrimary {
  --pc-button-color: var(--p-color-text) !important; 
}

.Polaris-Button.Polaris-Button--pressable svg {
    fill: var(--p-color-text) !important;
}

.Polaris-Modal-Dialog__Container .Polaris-Button--variantPrimary {
  background-color: var(--p-color-bg-surface) !important;
}

.Polaris-Listbox-TextOption__Content svg {
  fill: var(--p-color-text) !important;
}

:root {
    --p-action-primary: rgba(2, 132, 199, 1);
    --p-action-primary-disabled: rgba(221, 221, 221, 1);
    --p-action-primary-hovered: rgba(3, 105, 161, 1);
    --p-action-primary-pressed: rgba(7, 89, 133, 1);
    --p-action-primary-depressed: rgba(12, 74, 110, 1);
    --p-icon-on-primary: rgba(255, 255, 255, 1);
    --p-text-on-primary: rgba(255, 255, 255, 1);
    --p-text-primary: rgba(2, 132, 199, 1);
    --p-text-primary-hovered: rgba(3, 105, 161, 1);
    --p-text-primary-pressed: rgba(7, 89, 133, 1);
    --p-surface-primary-selected: rgba(236, 254, 255, 1);
    --p-surface-primary-selected-hovered: rgba(224, 242, 254, 1);
    --p-surface-primary-selected-pressed: rgba(186, 230, 253, 1);
    --p-color-bg-surface: rgba(23, 23, 23, 1);
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --p-color-nav-bg: var(--p-color-bg-surface) !important;
  }

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --p-color-border: var(--p-color-border-inverse) !important;
    --p-color-icon-hover: var(--p-color-border-inverse-hover) !important;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

}

@layer base {
  * {
    @apply border-border outline-ring/50;

    }
  body {
    @apply bg-background text-foreground;

    }

}